.heart {
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #09080B; 
}

.fullHeart {
  top: 8px;
  left: 8px;
  cursor: pointer;
  color: #09080B; 
}

.menuIcon {
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: #09080B; 
}